.DS_Store
src/Python/*
!src/Python/Python.zip
src/BigQuery/YourJsonFile.json
src/MapData/
src/Map/
!src/Map/Providers/*
src/Win64/
src/Win32/
src/ADS-B-Group.groupproj.local
src/HashTable/Lib/__history

**.local
**.local.**
*.res
**__history**

# Created by https://www.toptal.com/developers/gitignore/api/c++,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,visualstudiocode

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### VisualStudioCode ###
.vscode
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/c++,visualstudiocode
