.DS_Store
src/Python/*
!src/Python/Python.zip
src/BigQuery/YourJsonFile.json
src/Map/
src/Win64/
src/Win32/
src/ADS-B-Group.groupproj.local
src/HashTable/Lib/__history

*.local
*.d
*.a
*.o
*.pch
*.res
*.obj
